{% extends 'base.html.twig' %}

{% block title %}Hello GuildInvasionController!{% endblock %}

{% block body %}
	<div class="row">
		{% for box in raid.box  %}
			<div class="col">
				{{ box.blockId }}
			</div>		
			{% if loop.index is divisible by(13) %}
    			 <div class="w-100"></div>
            {% endif %}
		{% endfor %}
	</div>
{% endblock %}
